<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="brand.nombre_mar"  placeholder="Nombre" class="form-control" autofocus>
                </div>
                <button class="btn btn-success btn-block" (click)="edit ? updateBrand() : saveNewBrand()">
                    <span class="fas fa-save"></span> Guardar
                </button>
            </form>
        </div>
    </div>
</div>
